



.reveal-up,
.reveal-down,
.reveal-left,
.reveal-right,
.reveal-scale,
.reveal-flip {
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.33, 1, 0.68, 1), transform 1.5s cubic-bezier(0.33, 1, 0.68, 1);
}


.reveal-up {
    transform: translateY(30px);
}

.reveal-down {
    transform: translateY(-30px);
}

.reveal-left {
    transform: translateX(-30px);
}

.reveal-right {
    transform: translateX(30px);
}

.reveal-scale {
    transform: scale(0.9);
}

.reveal-flip {
    transform: perspective(1000px) rotateX(-90deg) scale(0.9);
    transform-origin: top;
    transition: opacity 1.5s cubic-bezier(0.33, 1, 0.68, 1), transform 1.5s cubic-bezier(0.33, 1, 0.68, 1);
}


.reveal-up.active,
.reveal-down.active,
.reveal-left.active,
.reveal-right.active {
    opacity: 1;
    transform: translate(0, 0);
}

.reveal-scale.active {
    opacity: 1;
    transform: scale(1);
}

.reveal-flip.active {
    opacity: 1;
    transform: perspective(1000px) rotateX(0deg) scale(1);
}


.delay-100 {
    transition-delay: 100ms;
}

.delay-200 {
    transition-delay: 200ms;
}

.delay-300 {
    transition-delay: 300ms;
}

.delay-400 {
    transition-delay: 400ms;
}

.delay-500 {
    transition-delay: 500ms;
}